@import "tailwindcss";

@font-face {
  font-family: "F5.6";
  src: url("/fonts/f5.6.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  a {
    text-decoration: underline;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Shippori Mincho B1", serif;
  --font-cactus: "Cactus Classical Serif", serif;
  --font-leica: "F5.6", serif;
  --color-inky: var(--color-gray-950);
  --color-pale: var(--color-zinc-300);
  --color-inky-accent: var(--color-zinc-900);
  --color-pale-accent: var(--color-stone-300);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
