---
import Navigation from "./Navigation.svelte";
import Image from "./Image.svelte";
import Date from "./Date.svelte";
import DaySpacer from "./Spacer.svelte";
import DayCaption from "./Caption.svelte";
import type { OptimizedDay } from "types/index";

type Props = {
  item: OptimizedDay;
  nextPost: OptimizedDay | null;
  prevPost: OptimizedDay | null;
};

const { item, nextPost, prevPost } = Astro.props;
---

<nav class="self-center">
  <Navigation
    client:only="svelte"
    prevSlug={prevPost && prevPost.slug}
    nextSlug={nextPost && nextPost.slug}
  />
</nav>
<figure class="flex flex-col items-center justify-center">
  <DaySpacer client:only="svelte" />
  <Image client:only="svelte" {...item} />
  <DayCaption client:only="svelte" camera={item.camera} lens={item.lens} />
</figure>
<Date date={item.date} client:only="svelte" />
