---
import { getAllDays } from "../libs/client";

const response = await getAllDays();
const items = response.map((e) => ({
  src: `${e.image.url}?w=150`,
  ...e,
}));
---

<div class="grid grid-cols-7 lg:grid-cols-11">
  <div
    class="col-span-7 grid grid-cols-[repeat(auto-fill,minmax(7rem,1fr))] grid-rows-[repeat(auto-fill,5rem)] lg:col-span-10"
  >
    <div class="font-sub flex items-center justify-center text-zinc-500">
      2025
    </div>
    {
      items.map((e) => {
        return (
          <a
            href={`/days/${e.slug}`}
            class="transition-all"
            transition:name={`days_${e.id}_container`}
          >
            <img
              src={e.src}
              alt="test"
              class="h-full w-full object-cover transition-all hover:invert-30 hover:sepia-50"
            />
          </a>
        );
      })
    }
  </div>
</div>
