---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import sample1Image from "../../assets/sample_1.jpg";
import sample2Image from "../../assets/sample_2.jpg";
import sample3Image from "../../assets/sample_3.jpg";
import sample4Image from "../../assets/sample_4.jpg";
import sample5Image from "../../assets/sample_5.jpg";
import sample6Image from "../../assets/sample_6.jpg";
import sample7Image from "../../assets/sample_7.jpg";

const sampleImageArr = [
  sample1Image,
  sample2Image,
  sample3Image,
  sample4Image,
  sample5Image,
  sample6Image,
  sample7Image,
];

export function getStaticPaths() {
  return [
    { params: { day: 1 } },
    { params: { day: 2 } },
    { params: { day: 3 } },
    { params: { day: 4 } },
    { params: { day: 5 } },
    { params: { day: 6 } },
    { params: { day: 7 } },
  ];
}

const { day } = Astro.params;
---

<Layout>
  <section
    class="grid h-lvh grid-cols-[1fr_3fr_2fr] items-center justify-center"
  >
    <div></div>
    <Image
      src={sampleImageArr[day - 1]}
      alt={`${day}`}
      class="w-full transition-all"
      transition:name={`days_${day}_container`}
    />
    <div>This is day {day}.</div>
  </section>
</Layout>
