---
import dayjs from "libs/dayjs";
import Layout from "layouts/Layout.astro";
import Day from "components/Day";
import { getAllDays, getDayDetail } from "libs/client";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const response = await getAllDays({
    fields: ["id", "date", "publishedAt", "createdAt"],
  });
  const { items } = response;
  return items.map((e, i) => ({
    params: {
      slug: e.slug,
    },
    props: {
      dayId: e.id,
      nextPost: i === 0 ? null : items[i - 1],
      prevPost: i + 1 === items.length ? null : items[i + 1],
    },
  }));
}) satisfies GetStaticPaths;

const { dayId, nextPost, prevPost } = Astro.props;
const item = await getDayDetail(dayId as string);
---

<Layout
  title={`翳光臺灣 | ${dayjs.tz(dayjs(item.date)).format("YYYY年M月D日")}`}
  thumbnail={item.image.url}
>
  <section
    class="grid h-[90dvh] grid-rows-[10dvh_1fr_25dvh] items-center justify-center md:h-dvh md:grid-cols-[1fr_3fr_2fr] md:grid-rows-1"
  >
    <Day
      item={item}
      nextPost={nextPost}
      prevPost={prevPost}
      client:only="svelte"
    />
  </section>
</Layout>
